.output {
  height: 70px;
  padding: 0 20px;
  background: rgb(40, 40, 40);
  border: 1px solid rgb(160, 160, 160);
  border-top: none;
  color: #fff;
  line-height: 70px;
  font-size: 24px;
  text-align: right;
}
